.main{
    padding: 1em 3em;
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 500px;
}
.main div{
    flex-direction: column;
    max-width: 500px;
}

input{
    margin-bottom: 20px;
    width: 300px;
    padding: 10px;
}
label{
    font-size: 20px;
}
input[type=submit]{
    font-size: 20px;
    border: none;
    background-color: black;
    color: white;
    width: 100%;
    cursor: pointer;
}

.main button{
    border: none;
    padding: 20px;
    background-color: brown;
    color: white;
    font-weight: bold;
    cursor: pointer;
}